# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios temporales
tmp/
temp/

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Directorios de build (si usas herramientas como webpack)
dist/
build/

# Archivos generados por editores/IDE
.vscode/
.idea/

# Cobertura de pruebas
coverage/

# PM2 logs y configuraciones
pids/
*.pid
*.seed
*.pid.lock

# Archivos opcionales de lock
package-lock.json